:root {
  --white-color: #fff;
  --pink-color: #f3eed9;
  --brown-color: #824936;
  --dark-grey: #222c2a;
}

.color-pink {
  color: var(--pink-color);
}

.color-brown {
  color: var(--brown-color);
}

.color-grey {
  color: var(--dark-grey);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
}

.text-center {
  text-align: center;
}

section {
  padding-block: 4em;
}

.container {
  max-width: 1128px;
  width: 90%;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 1.5em;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  line-height: 1.2;
  margin-top: 0;
  padding: 0;
}

h2 {
  font-size: 2.5rem;
}

p {
  font-size: 21px;
  font-weight: 400;
}

img {
  width: 100%;
}

.col {
  width: 50%;
}

.hero {
  background: #f3eed9;
}

.hero-content P {
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 300;
}

.hero-content h1 {
  font-size: 3rem;
  color: var(--brown-color);
}

.details {
  background: var(--dark-grey);
  color: var(--white-color);
}

.details2 {
  background: var(--brown-color);

  color: var(--white-color);
}

@media (max-width: 800px) {
  .row {
    display: block;
  }

  .col {
    width: 100%;
  }

  .details2 h2 {
    margin-top: 1em;
  }
}
