* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.intro {
  background: #23424a;
  color: white;
  padding: 3.125em 0;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 750px;
}
